body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#superior-links {
    padding: 5px;
    text-align: right;
    height: 30px;
    padding: 10px;
}

#superior-links a {
    text-decoration: none;
    color: #000000de;
    font-size: 13px;
    padding-right: 10px;
}

#superior-links a:hover {
    text-decoration: underline;
    color: rgb(85, 85, 85);
}

#apps-icon {
    color: #555;
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;
}

#apps-icon:hover {
    color:#000;
    cursor: default;
}

#sign-in {
    height: 30px;
    width: 69px;
    color: white;
    font-weight: bold;
    background-color: #4387fd;
    border: 1px solid #4285f4;
    border-radius: 2px;
}

#sign-in:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#center{
    margin: 0 auto 0;
    width: 100%;
    text-align: center;
    max-width: 592px;
    overflow: hidden;
}

#google-logo{
    width: 272px;
    height: 92px;
    margin: 90px auto 30px;
    transition: width 0.5s, height 0.5s, margin 0.5s;
}

@media (max-height: 536px){
    #google-logo{
        height: 72px;
        width: 212px;
        margin: 20px auto 15px;
    }
}

#search-bar{
    border: 1px solid #dfe1e5;
    text-align: center;
    border-radius: 24px;
    margin: 0 5px 0;
    height: 44px;
    box-sizing: border-box;
    vertical-align: middle;
    padding-right: 15px;
    display: flex;
    flex-wrap: nowrap;
}

#search-bar:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-bar:focus-within{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-icon{
    color: grey;
    font-weight: lighter;
    padding-left: 15px;
    margin: auto 0;
}

#search-input{
    border: none;
    height: 34px;
    width: 100%;
    display: inline;
    padding-top: 5px;
}


#search-input:focus{
    border: none;
    outline-style: none;
}


#button-container{
    padding: 20px;
    height: 50px;
}

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
}

.button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#footer{
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 14px;
    background: #f2f2f2;
    line-height: 20px;
    border-top: 1px solid #dadce0;
    min-width: 400px;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 670px){
    #footer{
        justify-content: space-around;
    }
}

#footer > div{
    display: inline-block;

}

#footer2{
    margin-right: 30px;
}

ol{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 0 15px;
    display: inline;
}

li a{
    text-decoration: none;
    color: #70757a;
}

li a:hover{
    text-decoration: underline;
}