body {
    font-family: Arial, Helvetica, sans-serif;
}

#superior-links {
    padding: 5px;
    text-align: right;
    height: 30px;
    padding: 10px;
}

#superior-links a {
    text-decoration: none;
    color: #000000de;
    font-size: 13px;
    padding-right: 10px;
}

#apps-icon {
    color: #555;
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;
}

#apps-icon:hover {
    color:#000;
    cursor: default;
}

#sign-in {
    height: 30px;
    width: 69px;
    color: white;
    font-weight: bold;
    background-color: #4387fd;
    border: 1px solid #4285f4;
    border-radius: 2px;
}

#center{
    margin: 90px auto 0;
    width: max-content;
    text-align: center;
}

#search-bar{
    border: 1px solid #dfe1e5;
    text-align: center;
    border-radius: 24px;
    margin-top: 30px;
    height: 44px;
    width: 582px;
    box-sizing: border-box;
    vertical-align: middle;
}

.search-icon{
    color: grey;
    vertical-align: bottom;
    font-weight: lighter;
}

#search-input{
    border: none;
    height: 34px;
    width: 487px;
    display: inline;
    padding-top: 5px;
}

#search-input:focus{
    border: none;
    outline-style: none;
}

#button-container{
    margin-top: 15px;
    padding: 20px;
    height: 50px;
}

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
}

#footer{
    flex-wrap: wrap;
    display: block;
    font-size: 14px;
    background: #f2f2f2;
    line-height: 20px;
    border-top: 1px solid #dadce0;
    min-width: 400px;
    position: absolute;
    bottom: 0;
    width: 99%;
}

#footer > div{
    display: inline-block;

}

#footer-left{
 float: none;
}

#footer-right{
    float: right;
    margin-right: 30px;
}

ol{
    list-style-type: none;
}

li:first-child{
    padding-left: 0;
}

li{
    padding-left: 27px;
    display: inline;
}

li a{
    text-decoration: none;
    color: #70757a;
}